main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  justify-content: center;
}

body {
  background-image: url("/src/imagens/Fundo1.png");
}

.primary-button {
  background-color: #F2C84B;
  font-size: 0.8rem;
  color: white;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  height: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  outline: none;
}

.deletar {
  background-color: transparent;
}

.editar, .save {
  background-color: #F29F05
  ;
}

.logo {
  max-width:100%;
  height: auto;
  width: 500px;
}

.signIn {
  width: 100px;
}

.secondary-button{
  border-radius: 50%;
  padding: 8px;
  width: 35px;
  border: none;
}

.title {
  color: #F29F05;
}

.subtitle {
  color: #F29F05;
  font-size: 0.8rem;
}

.google {
  margin-left: 45%;
  color: #F29F05;
  cursor: pointer;
  margin-top: 15px;
  background-color: #CCD5D9;
}

.box-login, .box-config, .box-register {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.input-feed {
  width: 250px;
}

.input-entrada {
  background-color:#CCD5D9;
  border-radius: 20px;
  margin: 5px 5px 5px 5px;
  outline:none;
  height: 30px;
  width: 80%;
  outline: none;
}

.input-register, .input-config {
  /* height: 5px; */
  background-color:white;
  border-radius: 15px;
  height: 30px;
  width: 70%;
  display: block;
  margin: 10px auto;
  outline: none;
}

.error {
  color: red;
}

.data {
  margin-left: 10px;
  color:#CCD5D9;
  font-size: 0.7em;
  text-align: right;
}

.box-intro {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.textarea-posts {
  min-height: 30px;
  padding: 5px;
  overflow: hidden;
  box-sizing: border-box;
  width: auto;
  padding: 10px;
  vertical-align: center;
}

textarea {
  resize: none;
}

.navbar {
  /* background-color: #CCD5D9; */
  width: 100%;
  padding: 10px 0px;
  display: flex;
  flex-direction: row;
}

.nav-btn-div {
  flex-basis: 55%;
}

.nav-btn {
  border-radius: 0px;
  margin: 0px 5px;
  width: 50px;
}

.navbar-brand {
  flex-basis: 100%;
  /* align-self: center; */
  font-size: larger;
}

.toggle-content {
  display: none;
  padding: 0px;
  margin: 0px 5px;
}

.profile {
  width: 50px;
  margin: 0px;
  border-radius: 0px;
}

.box-post {
  text-align: center;
  padding: 10px;
}

.box-profile {
  text-align: center;
}

.box-profile1 {
  text-align: left;
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-rows: 200px;
  grid-gap: 30px;
  grid-template-areas: "foto  dados";
}

.foto {
  grid-area: foto;
  background-color: rgba(61, 136, 141, 0.438);
	width: 100px;
	height: 100px;
  border-radius: 50%;
  margin-top: 30%;
  margin-left: 10px;
}

.dados {
  grid-area: dados;
}

.dados2 {
  font: normal 0.8em sans-serif;
  color: rgb(155, 162, 165);
}

.edit {
  grid-area: edit;
}

li {
  display: flex;
  flex-direction: column;
}

.js-post, .js-user-post {
  padding-inline-start: 0px;
}

.post-header {
  background-color:#8C0F54 ;
  display: flex;
  justify-content: space-between;
}

.card-btns {
  text-align: left;
  padding: 10px;
  /* background-color:#F2C84B */
  ;
}

li.card {
  
  border: 1px solid;
  margin-bottom: 20px;
}

.save {
  display: none;
}

@media (min-width: 500px) {

  .tela {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin-top: 7%;
    margin-bottom: 7%;
  }

  .logo {
    margin-left: 7%;
    height:auto;
    min-width: 600px;
  }

  .box-login { 
    min-width: 400px;
    background-color: rgba(218, 218, 253, 0.034);
    border: 1px solid rgb(215, 231, 204) ;
    box-shadow: 3px 3px 5px 5px #CCD5D9;
    margin-right: 7%;
  } 

  .box-register { 
    min-width: 400px;
    background-color: rgba(218, 218, 253, 0.034);
    margin-right: 7%;
  } 

  .box-config {
    min-width: 400px;
  }

  .input-config {
    width: 50%;
  }

  .js-email-register-input, .js-password-register-input, .js-text-input, .js-text2-input, .js-bio-input, .js-status-input, 
  .js-confirm-password-input, .js-date-input, .js-date-input {
    
  }

.register, .config {
  background-color:white;
  border-radius: 10px;
  height: 30px;
  width: 50%;
}

.box-profile {
  text-align: center;
  margin-right: 50%;
}

.box-profile1 {
  /* justify-content: left; */
  /* display: inline-block; */
  text-align: left;
  border: ridge #CCD5D9;
  width: 350px;
  margin-top: 100px;

}

.nav-btn-div {
  flex-basis: 50%;
}

.nav-btn {
  width: 100px;
}

.navbar-brand {
  margin-right: 25%;
  margin-left: 25%;
}
}

/* palheta de cores:
  #8C0F54 ROXO
  #CCD5D9 CINZA
  #54BFB5 AZUL
  #F2C84B AMARELINHO
  #F29F05 AMARELAO
   */