main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Lato', sans-serif;
}

/* TELA MOBILE */

/* LOGIN */

.tela {
  margin: 0 5%;
}
.logo, .box-logo {
  max-width:100%;
  height: auto;
  width: 500px;
  margin: 2%;
}
.error {
  font-weight: bolder;
  color: red;
}
.input-entrada {
  background-color:#CCD5D9;
  border-radius: 20px;
  margin: 5px;
  outline:none;
  height: 30px;
  width: 80%;
}
.box-login, .box-register, .box-config {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* REGISTER / CONFIG */
.input-register, .input-config {
  background-color:white;
  border-radius: 15px;
  height: 30px;
  width: 70%;
  display: block;
  margin: 10px auto;
  outline: none;
}

/*  */

.button {
  background-color: #F2C84B;
  font-size: 0.8rem;
  color: white;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  height: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  outline: none;
  width: 100px;
}
.round-button{
  border-radius: 50%;
  padding: 8px;
  width: 35px;
  border: none;
}


@media (min-width: 500px) {

  /* LOGIN */
  .tela {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
  }
  .logo {
    max-width: 100%;
    min-width: 400px;
    height: auto;
    margin: 5%;
    padding: 5%;
  }
  .box-logo {
    min-width: 400px;
    height: auto;
    margin: 0 5%;
    padding: 5%;
    width: 50%;
    text-align: center;
    justify-content: center;
  }
  .box-login { 
    width: 50%;
    min-width: 400px;
    width: 400px;
    margin: 0 5%;
    background-color: rgba(218, 218, 253, 0.034);
    border: 1px solid rgb(215, 231, 204) ;
    box-shadow: 3px 3px 5px 5px #CCD5D9;
  } 

  /* REGISTER / CONFIG */
  .box-register { 
    min-width: 400px;
    background-color: rgba(218, 218, 253, 0.034);
    margin-right: 7%;
  } 
  .box-config {
    min-width: 400px;
  }
  .input-config {
    width: 50%;
  }


  /*  */
}



  





.form-feed {
  text-align: center;
}
.deletar {
  background-color: transparent;
}

.editar, .save {
  background-color: #F29F05;
}


.data {
  margin-left: 10px;
  color:#CCD5D9;
  font-size: 0.7em;
  text-align: right;
}

.title {
  color: #F29F05;
}

.subtitle {
  color: #F29F05;
  font-size: 0.8rem;
}

.google {
  margin-left: 45%;
  color: #F29F05;
  cursor: pointer;
  margin-top: 15px;
  background-color: #CCD5D9;
}

.input-feed {
  width: 250px;
  padding: 2px;
  margin: 2px;
}


.box-intro {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.box-post {
  text-align: center;
  padding: 10px;
}

.box-profile, .box-profile2 {
  text-align: center;
  background-image: url(.//imagens/profile.png);
  background-repeat: no-repeat;
  padding-top: 60px;
}

.box-profile1, .box-profile2 {
  text-align: left;
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-rows: 200px;
  grid-gap: 30px;
  grid-template-areas: "foto  dados";
}

.foto {
  grid-area: foto;
  background-color: rgba(61, 136, 141, 0.438);
	width: 100px;
	height: 100px;
  border-radius: 50%;
  margin-top: 30%;
  margin-left: 10px;
}

.dados {
  grid-area: dados;
}

.dados2 {
  font: normal 0.8em sans-serif;
  color: rgb(155, 162, 165);
}

.textarea-posts {
  min-height: 30px;
  padding: 5px;
  overflow: hidden;
  box-sizing: border-box;
  width: auto;
  padding: 10px;
  vertical-align: center;
}

textarea {
  resize: none;
}

.navbar {
  width: 100%;
  padding: 10px 0px;
  display: flex;
  flex-direction: row;
}

.nav-btn-div {
  flex-basis: 55%;
}

.nav-btn {
  border-radius: 0px;
  margin: 0px 5px;
  width: 50px;
}

.navbar-brand {
  flex-basis: 100%;
  font-size: larger;
}

.toggle-content {
  display: none;
  padding: 0px;
  margin: 0px 5px;
}

.profile {
  width: 50px;
  margin: 0px;
  border-radius: 0px;
}

li {
  display: flex;
  flex-direction: column;
}

.js-post, .js-user-post {
  padding-inline-start: 0px;
}

.post-header {
  background-color:#8C0F54 ;
  display: flex;
  justify-content: space-between;
}

.card-btns {
  text-align: left;
  padding: 10px;
}

li.card {
  border: 1px solid;
  margin-bottom: 20px;
}

.save {
  display: none;
}

@media (min-width: 500px) {

 



 

  

  .register, .config {
    background-color:white;
    border-radius: 10px;
    height: 30px;
    width: 50%;
  }

  .box-profile1 {
    text-align: left;
    width: 350px;
  }

  .nav-btn-div {
    flex-basis: 50%;
  }

  .navbar-brand {
    margin-right: 25%;
    margin-left: 25%;
  }

  .body-profile {
    text-align: center;
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: auto;
    grid-gap: 30px;
    grid-template-areas: "box-profile  box-post";
  }

  .box-profile {
    grid-area: box-profile;
    text-align: center;
    display: inline-block;
    margin-left: 80px;
    margin-top: 50px;
    border: ridge rgba(204, 213, 217, 0.486);
    background-image: url(.//imagens/profile.png);
    background-repeat: no-repeat;
  }

  .box-post {
    grid-area: box-post;
    margin-left: 500px;
    margin-top: -365px;
    max-width: 700px;
    min-width: 300px;
  }


  .bodyFeed {
    text-align: center;
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: auto;
    grid-gap: 30px;
    grid-template-areas: "box-profile2  box-post-feed";
  }

  .box-profile2 {
    grid-area: box-profile2;
    text-align: center;
    margin-left: 80px;
    margin-top: 50px;
    border: ridge rgba(204, 213, 217, 0.486);
    background-image: url(.//imagens/profile.png);
    background-repeat: no-repeat;
    padding-top: 70px;
    width: 300px;
    height: 200px;
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: 200px;
    grid-gap: 30px;
    grid-template-areas: "foto  dados";
  }

  .box-post-feed {
    grid-area: box-post-feed;
    margin-left: 200px;
    margin-top: 50px;
    max-width: 700px;
    min-width: 300px;
  }

   .foto {
    grid-area: foto;
  }
  
  .dados {
    grid-area: dados;
    padding-top: 20px;
  }
}



/* palheta de cores:*/
.Cinza   { color: #CCD5D9; }
.Blue    { color: #54BFB5; }
.yellow1 { color: #F2C84B; }
.yellow2 { color: #F29F05; }
.Roxo    { color: #8C0F54; }